<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>thymeleaf</title><script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
</head>
<body>
    <h1>thymeleaf Test</h1>
    <h4>id : <span th:text="${data.id}"></span></h4>
    <h4>pw : <span th:text="${data.pw}"></span></h4>
    <form id="form">
        ID<input type="text" name="id"/>
        PW<input type="text" name="pw"/>
    </form>
    <button id="ajax" type="button">submit</button>
    <a href="/err">ererer</a>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
$('#ajax').on('click', function () {
    $.ajax({
        method: 'POST',
        url: '/data',
        data: $('#form').serialize()
    })
})
</script>
</html>